* , body{
    padding: 0px;
    margin: 0px;
}

/* Wrapper */
#wrapper{
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: auto;
    height: 768px;
}
/* header */
#header{
    width: 99.8%;
    height: 50%;
    background-image: url("./LA1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
/* navBar */
#navBar{
    background-color: #607da7;
    position: fixed;
    width: 99.8%;
    overflow: hidden;
    z-index: 1000;
}

#navBar ul{
    display: inline-block;
}

#navBar ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}

#navBar li a{
    text-decoration: none;
    padding-bottom: 10px;
    color: aliceblue;
}

#navBar  li a:hover{
    text-decoration: none;
    border-bottom: solid 5px aliceblue;
}

#navBar li a:active{
    text-decoration: underline;
}

.left{
    float:right;
}

/* Search Bar */

#searchBar{
    width: 90%;
    position: absolute;
    bottom: 0px;
    height: 10%;
    padding-bottom: 20px;
    padding-left: 5%;
}

#searchBar .input{
    padding: 10px;
    width: 50%;
}

#searchBar button{
    margin-left: 3%;
    padding: 10px;
    font-weight: bold;
    color: #607da7;
    border: none;
    border-radius: 5px;
}
/* main content */

#main{
    min-height: auto;
    max-height: 99.8%;
}

/* Main Inner Content */

#content1 ul li {
    float: left;
    display: inline-block;
    list-style: none;
    padding: 15px;

}

#content1{
    width: 40%;
    border-right: 5px solid aqua;
    display: inline-block;
}

.content{
    display: inline-block;
    padding: 25px;
    line-height: 30px;
    vertical-align: top;
}

.green{
    background-color: bisque;
    border-bottom-right-radius: 10px;
    font-weight: bold;

    background-color: #028102;
    border-bottom-right-radius: 10px;
    color: white;

}

.blue{
    background-color: #fff;
    border-bottom-right-radius: 10px;
    color: gray;
}

#content2{

    width: 20%;
    padding-top: 1.5%;
}

#map {

    width: 35.8%;
    min-width: 200px;
    min-height: 200px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    border-left: 5px solid aqua;
}


#footer{
    margin-top: 40px;
    background-color: #617ea7;
    height: 12%;

}

#footer img{
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.img{
    padding-top: 20px;
    text-align: center;
}